/* body {
    background-color: #ca9f7ccc;
    background-image: url("Banner.jpeg");
    background-repeat:inherit;
    background-size: 100% 100%;
} */
html { 
    background: url('Banner.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:100% 100%;
}
body
{
    margin: 0;
    padding: 0;
    background-color:transparent;
}
.divP{
    position: relative;
    height:100vh;
}
.container-fluid {
    background-color:#5c5a5847
}
.green-color {
    color: #0dd62e;
 

}
.msg-form {
    background-color: white;
    padding: 20px
}
.center-screen {

    text-align: center;

  }
.pad-icon {
    padding-top: 50px;
    padding-left: 20px;
    width:5%
}

.pad-icon a {
    text-decoration: none;
    margin-right: 40px
}

.input-group input:focus {
    border: 1px solid blue
}

.pad-icon a:active {
    height: 30px;
    width: 30px;
    background-color: #0080ff;
    border-radius: 100%
}

.links {
    padding-top: 50px;
    width: 50%;
    text-align:center;
}

#bordering a:active {
    border: 1px solid #0080ff
}


@media(min-width:901px) {
    .container-fluid {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
   
    }
    .sp{
        font-size: xx-large;
    }
    .pad {
        padding-top: 20px
    }
}

@media (max-width: 900px){
    .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    /* height: 100%; */
    transform: translate(-50%,-50%);
    width: 85%;
    padding-top: 50%;
    padding-bottom: 175px;
}
.fa1{
    font-size: 80px;}
.sp{
    font-size: medium;
}

}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .fa-facebook-square {
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 84%;
    background-position: 60% 0;
    background-repeat: no-repeat;

  }
